/* src/components/Footer.css */
.footer {
    background-color: #6d6e6f; /* Light grey background */
    padding: 20px;
    text-align: center;
  }
  
  .payment-methods {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end; 
  }
  
  .payment-logo {
    width: 50px; /* Adjust the size as needed */
    margin-right: 30px;
  }
  