/* src/components/HoverImage.css */
.hover-images-container {
    display: flex;
    justify-content: space-between;
  }
.hover-image-container {
    margin: 100px;
    position: relative;
    /* position: absolute; */
    top: 50%; /* Position at the vertical center */
    right: 20px; /* Adjust the distance from the right side */
    /* Center vertically */
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.9s ease; /* Add transition for box-shadow and transform */
    width: 30%; /* Set the width of the container */
    height: 100%; /* Set the height of the container */
    border-radius: 50%;
    /* margin-right: 20px; */
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hover-image-container:hover {
    transform: translateY(-5%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust box shadow for hover */
    transform: scale(1.1) ease; /* Scale and rotate on hover */
  }
  